.container {
    background-color: #eff0f3;
    width: 100%;
    height: 93.5%;
    position: absolute;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}
.container_header{
    text-align: center;
}

.item {
    margin-left: 50px;
    margin-right: 50px;
    width: 30vw;
    height: 40vh;
    background-color: red;
    border-radius: 10px;
}

.light_item {
    background-color: #078080;
}

.image_container {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    height: 150px;
}

.slider {
  margin-top: 15px;
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;
  background: #d3d3d3;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #fdd464;
    cursor: pointer;
    border-radius: 5px;
  }
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 5px;
}

.light_slider::-webkit-slider-thumb {
    background: #fdd464;
}

.light_slider::-moz-range-thumb {
    background: #fdd464;
}

.light_level_indicator {
    width: 100%;
    color: #a37b0e;
    font-size: 40px;
    text-align: center;
}

.water_item {
    background-color: #faae2b;
}

.water_level_indicator {
    width: 100%;
    color: #1154cf;
    font-size: 40px;
    text-align: center;
}

.water_slider::-webkit-slider-thumb {
    background: #2968db;
}

.water_slider::-moz-range-thumb {
    background: #2968db;
}

.air_humidity_item {
    background-color: #c7d2e0;
}

.air_humidity_indicator {
    width: 100%;
    color: #6d6f72;
    font-size: 40px;
    text-align: center;
}

.air_humidity_slider::-webkit-slider-thumb {
    background: #2968db;
}

.air_humidity_slider::-moz-range-thumb {
    background: #2968db;
}

.naxshirorjangi_item {
    background-color: #ff5470;
}

.naxshirorjangi_indicator {
    width: 100%;
    color: #24272b;
    font-size: 40px;
    text-align: center;
}

.naxshirorjangi_slider::-webkit-slider-thumb {
    background: #292a2b;
}

.naxshirorjangi_slider::-moz-range-thumb {
    background: #292a2b;
}