.AboutUsPage {
    background-color: #eff0f3;
    width: 100%;
    height: 93.5%;
    position: absolute;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}