@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wghtJost:wght@200;500&display=swap");

.DCpage {
  width: 100%;
  height: auto;
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
