@use "../../../../../variables.scss" as v;
.item {
  color: v.$sliderColor;
  font-family: "Bangers", cursive;
  margin: 1rem 5rem 4rem 5rem;
  width: 20rem;
  height: 22rem;
  border-radius: 10px;
  letter-spacing: 0.2em;
  font-size: 1.2rem;
  .buttons {
    display: flex;
    justify-content: space-around;
    .button {
      font-size: 1rem;
      font-weight: bold;
      width: 4.6rem;
      cursor: pointer;
      border-radius: 30%;
      background-color: #274750;
      color: v.$secondaryColor;
    }
  }

  .container_header {
    text-align: center;
  }
  .image_container {
    margin-top: 2rem;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slider {
    margin-top: 1rem;
    -webkit-appearance: none;
    width: 99%;
    height: 25px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 5px;
    background: v.$thirdColor;
    &:hover {
      opacity: 1;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      background: v.$sliderColor;
      cursor: pointer;
      border-radius: 5px;
    }
    &::-moz-range-thumb {
      width: 25px;
      height: 25px;
      cursor: pointer;
      border-radius: 5px;
    }
  }
  .level_indicator {
    width: 100%;
    color: v.$sliderColor;
    font-size: 1.5rem;
    text-align: center;
    font-family: "Jost", sans-serif;
    font-weight: bold;
  }
}
