@use "../../variables.scss" as v;
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wghtJost:wght@200;500&display=swap");

.hompage {
  background: url("../../images/6.gif");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 65%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .header {
    text-align: center;
    font-size: 2rem;
    text-shadow: 4px 4px v.$secondaryColor;
    text-decoration-style: wavy;
    color: v.$fontColor;
    font-family: "Bangers", cursive;
    line-height: 1;
    letter-spacing: 0.09em;
    font-family: "Bangers", cursive;
  }
  .mini_description {
    text-align: center;
    text-decoration-line: overline;
    text-decoration-style: wavy;
    color: v.$fontColor;
    text-shadow: 4px 4px v.$secondaryColor;
    font-family: "Bangers", cursive;
    letter-spacing: 0.09em;
  }
  .mainContent {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 15px;
    .Grow {
      width: 30rem;
      color: v.$fontColor;
      font-size: 1rem;
      font-family: "Jost", sans-serif;
      font-weight: 600;

      h1 {
        font-size: 1.2rem;
        color: v.$fontColor;
        font-family: "Bangers", cursive;
        letter-spacing: 0.2em;
        width: inherit;
      }
      h1::first-letter {
        color: v.$fontColor;
        text-shadow: 3px 3px v.$secondaryColor;
        letter-spacing: 0.2em;
        font-size: 1.1em;
        border: solid v.$primaryColor;
        padding: 2px;
        margin: 3px;
      }
    }
    .descriptionGrow {
      background-repeat: no-repeat;
      background-position: right;
      background-size: 20%;
      width: 60vw;
      margin-bottom: 50px;
      margin-right: 60px;
      font-weight: bold;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      padding: 20px;
    }
  }
}
.homepage2 {
  margin-top: 2rem;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  align-items: center;
  .detailscontainer {
    width: 30rem;
    background-color: v.$thirdColor;
    color: v.$fontColor;
    font-size: 1rem;
    font-family: "Bangers", cursive;
    border-radius: 10px;
    padding: 1rem;
    line-height: 1.5;
    letter-spacing: 0.09em;
  }
}

@media screen and (max-width: 800px) {
  .hompage {
    .header {
      font-size: 1.5rem !important;
    }
    .mini_description {
      font-size: 1.5rem !important;
    }
    .mainContent .Grow {
      font-size: 0.8rem !important;
      width: 90% !important;
    }
  }
  .homepage2 {
    justify-content: center;
    flex-direction: column-reverse;
    .detailscontainer {
      width: 18rem;
      margin-bottom: 1rem !important;
      height: 18rem;
      font-size: 0.8rem !important;
      overflow: hidden;
    }
  }
}
